In [8]:
# staging.ipynb
# ----------------------
# 1. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL
# ----------------------
import pandas as pd
from torgstat.db import get_engine, DB_SCHEMA
import sys
from sqlalchemy import text

try:
    # –°–æ–∑–¥–∞—ë–º –¥–≤–∏–∂–æ–∫ SQLAlchemy
    engine = get_engine()
    
    # –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ä–µ–∞–ª—å–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º text()
    with engine.connect() as conn:
        result = conn.execute(text("SELECT 1 as test_connection"))
        test_result = result.scalar()
        
    if test_result == 1:
        print("‚úì –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL —É—Å–ø–µ—à–Ω–æ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ –∏ –ø—Ä–æ–≤–µ—Ä–µ–Ω–æ")
    else:
        print("‚úó –û—à–∏–±–∫–∞: –ù–µ —É–¥–∞–ª–æ—Å—å –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ")
        sys.exit(1)
        
except Exception as e:
    print(f"‚úó –û—à–∏–±–∫–∞ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ PostgreSQL: {e}")
    sys.exit(1)

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —á—Ç–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü—ã –∏–∑ —Å—Ö–µ–º—ã analytics —Å –¥–µ—Ç–∞–ª—å–Ω—ã–º –ª–æ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ–º
def read_table(table_name: str):
    try:
        query = f'SELECT * FROM {DB_SCHEMA}.{table_name};'
        df = pd.read_sql(query, engine)
        
        # –î–µ—Ç–∞–ª—å–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö
        print(f"\nüìä {table_name.upper()} - –°–´–†–´–ï –î–ê–ù–ù–´–•:")
        print(f"   üìè –°—Ç—Ä–æ–∫: {len(df):,}")
        print(f"   üß© –°—Ç–æ–ª–±—Ü–æ–≤: {len(df.columns)}")
        
        # –ê–Ω–∞–ª–∏–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤
        null_counts = df.isnull().sum()
        if null_counts.sum() > 0:
            print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏:")
            for col, count in null_counts.items():
                if count > 0:
                    print(f"      - {col}: {count} –ø—Ä–æ–ø—É—Å–∫–æ–≤ ({count/len(df)*100:.1f}%)")
        
        # –ê–Ω–∞–ª–∏–∑ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö
        print(f"   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:")
        for col, dtype in df.dtypes.items():
            print(f"      - {col}: {dtype}")
            
        # –û—Å–æ–±—ã–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –¥–ª—è –∫–ª—é—á–µ–≤—ã—Ö –ø–æ–ª–µ–π
        if 'amount' in df.columns:
            amount_stats = df['amount'].apply(lambda x: type(x).__name__).value_counts()
            print(f"   üí∞ –¢–∏–ø—ã –∑–Ω–∞—á–µ–Ω–∏–π –≤ amount: {amount_stats.to_dict()}")
            
        if 'status' in df.columns:
            print(f"   üè∑Ô∏è  –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Å—Ç–∞—Ç—É—Å—ã: {df['status'].unique()}")
            
        print(f"‚úì –¢–∞–±–ª–∏—Ü–∞ {table_name} —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞")
        return df
        
    except Exception as e:
        print(f"‚úó –û—à–∏–±–∫–∞ –∑–∞–≥—Ä—É–∑–∫–∏ —Ç–∞–±–ª–∏—Ü—ã {table_name}: {e}")
        raise

print("‚úì –í—Å–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–π–¥–µ–Ω—ã —É—Å–ø–µ—à–Ω–æ")

‚úì –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL —É—Å–ø–µ—à–Ω–æ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ –∏ –ø—Ä–æ–≤–µ—Ä–µ–Ω–æ
‚úì –í—Å–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–π–¥–µ–Ω—ã —É—Å–ø–µ—à–Ω–æ

In [9]:
# ----------------------
# 2. –ß–∏—Ç–∞–µ–º —Å—ã—Ä—ã–µ —Ç–∞–±–ª–∏—Ü—ã
# ----------------------

df_users = read_table("users")
df_sessions = read_table("sessions")
df_subs = read_table("subscriptions")
df_invoices = read_table("invoices")
df_plans = read_table("plans")
df_events = read_table("events")

# –ü—Ä–æ—Å–º–æ—Ç—Ä –ø–µ—Ä–≤—ã—Ö –∏ —Å–ª—É—á–∞–π–Ω—ã—Ö —Å—Ç—Ä–æ–∫

display(df_users.head())
display(df_sessions.head())
display(df_subs.head())
display(df_invoices.head())
display(df_plans.head())
display(df_events.head())


print("\nüîç –î–ï–¢–ê–õ–¨–ù–´–ô –ê–ù–ê–õ–ò–ó –ü–†–û–ë–õ–ï–ú:")
print("‚ïê" * 50)

# –ê–Ω–∞–ª–∏–∑ amount –≤ invoices
if 'amount' in df_invoices.columns:
    print("üí∞ INVOICES.amount:")
    print(f"   –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö: {df_invoices['amount'].dtype}")
    print(f"   –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Ç–∏–ø—ã –∑–Ω–∞—á–µ–Ω–∏–π: {df_invoices['amount'].apply(type).value_counts().to_dict()}")
    print(f"   –û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è: {(pd.to_numeric(df_invoices['amount'], errors='coerce') < 0).sum()}")
    
# –ê–Ω–∞–ª–∏–∑ –¥–∞—Ç
date_columns = ['signup_date', 'session_date', 'start_date', 'period_start', 'period_end', 'invoice_date', 'event_date']
for col in date_columns:
    for df in [df_users, df_sessions, df_subs, df_invoices, df_events]:
        if col in df.columns:
            print(f"üìÖ {df.name if hasattr(df, 'name') else 'Unknown'}.{col}:")
            print(f"   –¢–∏–ø: {df[col].dtype}")
            print(f"   –ü—Ä–∏–º–µ—Ä—ã: {df[col].head(3).tolist()}")

üìä USERS - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 2,000
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 3
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏:
      - region: 109 –ø—Ä–æ–ø—É—Å–∫–æ–≤ (5.5%)
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - user_id: int64
      - signup_date: object
      - region: object
‚úì –¢–∞–±–ª–∏—Ü–∞ users —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

üìä SESSIONS - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 5,914
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 7
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏:
      - utm_source: 311 –ø—Ä–æ–ø—É—Å–∫–æ–≤ (5.3%)
      - utm_medium: 220 –ø—Ä–æ–ø—É—Å–∫–æ–≤ (3.7%)
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - session_id: object
      - user_id: int64
      - session_date: object
      - utm_source: object
      - utm_medium: object
      - utm_campaign: object
      - is_first_session: bool
‚úì –¢–∞–±–ª–∏—Ü–∞ sessions —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

üìä SUBSCRIPTIONS - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 681
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 5
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - subscription_id: int64
      - user_id: int64
      - plan_id: int64
      - start_date: object
      - status: object
   üè∑Ô∏è  –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Å—Ç–∞—Ç—É—Å—ã: ['churned' 'active']
‚úì –¢–∞–±–ª–∏—Ü–∞ subscriptions —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

üìä INVOICES - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 2,205
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 9
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - invoice_id: int64
      - subscription_id: int64
      - user_id: int64
      - period_start: object
      - period_end: object
      - invoice_date: object
      - amount: object
      - paid: bool
      - is_initial: bool
   üí∞ –¢–∏–ø—ã –∑–Ω–∞—á–µ–Ω–∏–π –≤ amount: {'str': 2205}
‚úì –¢–∞–±–ª–∏—Ü–∞ invoices —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

üìä PLANS - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 3
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 4
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - plan_id: int64
      - plan_name: object
      - period: object
      - price: float64
‚úì –¢–∞–±–ª–∏—Ü–∞ plans —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

üìä EVENTS - –°–´–†–´–ï –î–ê–ù–ù–´–•:
   üìè –°—Ç—Ä–æ–∫: 16,119
   üß© –°—Ç–æ–ª–±—Ü–æ–≤: 3
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏:
      - user_id: 331 –ø—Ä–æ–ø—É—Å–∫–æ–≤ (2.1%)
   üîß –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
      - user_id: float64
      - event_date: object
      - event_name: object
‚úì –¢–∞–±–ª–∏—Ü–∞ events —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω–∞

   user_id signup_date           region
0        1  2024-04-12           –ö–∞–∑–∞–Ω—å
1        2  2024-03-15           –ö–∞–∑–∞–Ω—å
2        3  2024-02-22  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥
3        4  2024-02-27           –ú–æ—Å–∫–≤–∞
4        5  2024-01-15      –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫

,session_id,user_id,session_date,utm_source,utm_medium,utm_campaign,is_first_session
0,sess_1_1,1,2024-04-12,google,cpc,generic,True
1,sess_1_2,1,2024-05-03,google,None,generic,False
2,sess_1_3,1,2024-07-04,google,cpc,generic,False
3,sess_2_1,2,2024-03-15,referral,referral,friend_ref,True
4,sess_2_2,2,03-18-2024,referral,referral,friend_ref,False

   subscription_id  user_id  plan_id  start_date   status
0             1001        3        1  2024-02-26  churned
1             1002        4        1  2024-03-02  churned
2             1003        5        2  2024-01-26  churned
3             1004        7        1  2024-01-20  churned
4             1005        8        1  2024-05-15  churned

,invoice_id,subscription_id,user_id,period_start,period_end,invoice_date,amount,paid,is_initial
0,50001,1001,3,2024-02-26,2024-03-27,2024-02-26,-499.0,True,True
1,50002,1001,3,2024-03-27 00:00:00,2024-04-26,2024-03-27,499.0,True,False
2,50003,1001,3,2024-04-26,2024-05-26,2024-04-26,499.0,True,False
3,50004,1001,3,2024-05-26,2024-06-25,2024-05-26,499.0,True,False
4,50005,1002,4,2024-03-02,2024-04-01,2024-03-02,499.0,True,True

   plan_id plan_name   period   price
0        1     Basic  monthly   499.0
1        2       Pro  monthly   999.0
2        3  Business  monthly  1999.0

   user_id  event_date event_name
0      2.0  2024-03-15   app_open
1      2.0  2024-03-19   app_open
2      2.0  2024-03-24   app_open
3      2.0  2024-03-30   app_open
4      2.0  2024-04-03   app_open

üîç –î–ï–¢–ê–õ–¨–ù–´–ô –ê–ù–ê–õ–ò–ó –ü–†–û–ë–õ–ï–ú:
‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
üí∞ INVOICES.amount:
   –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö: object
   –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Ç–∏–ø—ã –∑–Ω–∞—á–µ–Ω–∏–π: {<class 'str'>: 2205}
   –û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è: 20
üìÖ Unknown.signup_date:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-04-12', '2024-03-15', '2024-02-22']
üìÖ Unknown.session_date:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-04-12', '2024-05-03', '2024-07-04']
üìÖ Unknown.start_date:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-02-26', '2024-03-02', '2024-01-26']
üìÖ Unknown.period_start:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-02-26', '2024-03-27 00:00:00', '2024-04-26']
üìÖ Unknown.period_end:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-03-27', '2024-04-26', '2024-05-26']
üìÖ Unknown.invoice_date:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-02-26', '2024-03-27', '2024-04-26']
üìÖ Unknown.event_date:
   –¢–∏–ø: object
   –ü—Ä–∏–º–µ—Ä—ã: ['2024-03-15', '2024-03-19', '2024-03-24']

In [11]:
# ----------------------
# 3. –°–æ–∑–¥–∞—ë–º staging-—Ç–∞–±–ª–∏—Ü—ã
# ----------------------
from sqlalchemy import types
import numpy as np

# STG_USERS: –æ—á–∏—Å—Ç–∫–∞ –∏ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è
df_stg_users = df_users.copy()
df_stg_users['signup_date'] = pd.to_datetime(df_stg_users['signup_date'], errors='coerce')
df_stg_users = df_stg_users.drop_duplicates(subset='user_id')
print(f"STG_USERS: {len(df_stg_users)} —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏")
# –î–ï–¢–ê–õ–¨–ù–û–ï –õ–û–ì–ò–†–û–í–ê–ù–ò–ï
print(f"   üìÖ signup_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_users['signup_date'].dtype}")
print(f"   üóëÔ∏è  –£–¥–∞–ª–µ–Ω–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {len(df_users) - len(df_stg_users)}")
print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ region: {df_stg_users['region'].isnull().sum()}")

# STG_SESSIONS: –ø—Ä–æ–≤–µ—Ä—è–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
df_stg_sessions = df_sessions.copy()
df_stg_sessions['session_date'] = pd.to_datetime(df_stg_sessions['session_date'], errors='coerce')
df_stg_sessions = df_stg_sessions.drop_duplicates(subset='session_id')
print(f"STG_SESSIONS: {len(df_stg_sessions)} —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏")
# –î–ï–¢–ê–õ–¨–ù–û–ï –õ–û–ì–ò–†–û–í–ê–ù–ò–ï
print(f"   üìÖ session_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_sessions['session_date'].dtype}")
print(f"   üóëÔ∏è  –£–¥–∞–ª–µ–Ω–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {len(df_sessions) - len(df_stg_sessions)}")
print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ UTM: {df_stg_sessions['utm_source'].isnull().sum()} source, {df_stg_sessions['utm_medium'].isnull().sum()} medium")

# STG_SUBSCRIPTIONS: —Å—Ç–∞—Ç—É—Å –∏ –¥–∞—Ç—ã
df_stg_subs = df_subs.copy()
df_stg_subs['start_date'] = pd.to_datetime(df_stg_subs['start_date'], errors='coerce')

# –ë–µ–∑–æ–ø–∞—Å–Ω–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞ end_date (–µ—Å–ª–∏ –∫–æ–ª–æ–Ω–∫–∞ —Å—É—â–µ—Å—Ç–≤—É–µ—Ç)
if 'end_date' in df_stg_subs.columns:
    df_stg_subs['end_date'] = pd.to_datetime(df_stg_subs['end_date'], errors='coerce')

df_stg_subs['status'] = df_stg_subs['status'].fillna('unknown').str.upper().str.strip()
print(f"STG_SUBSCRIPTIONS: {len(df_stg_subs)} —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏")
# –î–ï–¢–ê–õ–¨–ù–û–ï –õ–û–ì–ò–†–û–í–ê–ù–ò–ï
print(f"   üìÖ start_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_subs['start_date'].dtype}")
if 'end_date' in df_stg_subs.columns:
    print(f"   üìÖ end_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_subs['end_date'].dtype}")
print(f"   üè∑Ô∏è  –°—Ç–∞—Ç—É—Å—ã –Ω–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞–Ω—ã: {df_stg_subs['status'].unique()}")
print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ —Å—Ç–∞—Ç—É—Å–æ–≤: {df_stg_subs['status'].isnull().sum()}")

# STG_INVOICES: –¥–∞—Ç—ã –∏ —Å—É–º–º—ã
df_stg_invoices = df_invoices.copy()
df_stg_invoices['period_start'] = pd.to_datetime(df_stg_invoices['period_start'], errors='coerce')
df_stg_invoices['period_end'] = pd.to_datetime(df_stg_invoices['period_end'], errors='coerce')
df_stg_invoices['invoice_date'] = pd.to_datetime(df_stg_invoices['invoice_date'], errors='coerce')
df_stg_invoices['amount'] = pd.to_numeric(df_stg_invoices['amount'], errors='coerce')
print(f"STG_INVOICES: {len(df_stg_invoices)} —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏")
# –î–ï–¢–ê–õ–¨–ù–û–ï –õ–û–ì–ò–†–û–í–ê–ù–ò–ï
print(f"   üí∞ amount –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_invoices['amount'].dtype}")
print(f"   üìÖ –í—Å–µ –¥–∞—Ç—ã –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω—ã –≤ datetime")
print(f"   ‚ö†Ô∏è  –û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ amount: {(df_stg_invoices['amount'] < 0).sum()}")
print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ amount: {df_stg_invoices['amount'].isnull().sum()}")

# STG_EVENTS: –¥–∞—Ç—ã –∏ —Å–æ–±—ã—Ç–∏—è (–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–æ - –∏—Å–ø–æ–ª—å–∑—É–µ–º event_name –≤–º–µ—Å—Ç–æ event_type)
df_stg_events = df_events.copy()
df_stg_events['event_date'] = pd.to_datetime(df_stg_events['event_date'], errors='coerce')

# –û–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ–º event_name (–∞ –Ω–µ event_type)
if 'event_name' in df_stg_events.columns:
    df_stg_events['event_name'] = df_stg_events['event_name'].fillna('unknown').str.upper().str.strip()
else:
    print("‚ö†Ô∏è  –ö–æ–ª–æ–Ω–∫–∞ 'event_name' –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –≤ events")

print(f"STG_EVENTS: {len(df_stg_events)} —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏")
# –î–ï–¢–ê–õ–¨–ù–û–ï –õ–û–ì–ò–†–û–í–ê–ù–ò–ï
print(f"   üìÖ event_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_events['event_date'].dtype}")
print(f"   üë§ user_id –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: {df_stg_events['user_id'].dtype}")
print(f"   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ user_id: {df_stg_events['user_id'].isnull().sum()}")

# ----------------------
# 4. –ó–∞–ø–∏—Å—ã–≤–∞–µ–º staging-—Ç–∞–±–ª–∏—Ü—ã –æ–±—Ä–∞—Ç–Ω–æ –≤ –ë–î
# ----------------------
staging_tables = {
    "stg_users": df_stg_users,
    "stg_sessions": df_stg_sessions,
    "stg_subscriptions": df_stg_subs,
    "stg_invoices": df_stg_invoices,
    "stg_events": df_stg_events
}

# –í—ã–≤–æ–¥–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–æ–ª–æ–Ω–∫–∞—Ö –¥–ª—è –æ—Ç–ª–∞–¥–∫–∏
print("\n–°—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ç–∞–±–ª–∏—Ü:")
for table_name, df in staging_tables.items():
    print(f"{table_name}: {list(df.columns)}")

for table_name, df in staging_tables.items():
    try:
        # –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –æ—à–∏–±–æ–∫
        df.to_sql(
            table_name, 
            engine, 
            schema=DB_SCHEMA, 
            if_exists='replace', 
            index=False
        )
        print(f"‚úì –¢–∞–±–ª–∏—Ü–∞ {DB_SCHEMA}.{table_name} —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ ({len(df)} —Å—Ç—Ä–æ–∫)")
        
    except Exception as e:
        print(f"‚úó –û—à–∏–±–∫–∞ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è {table_name}: {e}")

print("‚úì –í—Å–µ staging-—Ç–∞–±–ª–∏—Ü—ã –æ–±—Ä–∞–±–æ—Ç–∞–Ω—ã –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã")

STG_USERS: 2000 —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
   üìÖ signup_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: datetime64[ns]
   üóëÔ∏è  –£–¥–∞–ª–µ–Ω–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 0
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ region: 109
STG_SESSIONS: 5914 —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
   üìÖ session_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: datetime64[ns]
   üóëÔ∏è  –£–¥–∞–ª–µ–Ω–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 0
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ UTM: 311 source, 220 medium
STG_SUBSCRIPTIONS: 681 —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
   üìÖ start_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: datetime64[ns]
   üè∑Ô∏è  –°—Ç–∞—Ç—É—Å—ã –Ω–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞–Ω—ã: ['CHURNED' 'ACTIVE']
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ —Å—Ç–∞—Ç—É—Å–æ–≤: 0
STG_INVOICES: 2205 —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
   üí∞ amount –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: float64
   üìÖ –í—Å–µ –¥–∞—Ç—ã –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω—ã –≤ datetime
   ‚ö†Ô∏è  –û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ amount: 20
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ amount: 24
STG_EVENTS: 16119 —Å—Ç—Ä–æ–∫ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
   üìÖ event_date –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: datetime64[ns]
   üë§ user_id –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω –≤: float64
   ‚ö†Ô∏è  –ü—Ä–æ–ø—É—Å–∫–∏ user_id: 331

–°—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ç–∞–±–ª–∏—Ü:
stg_users: ['user_id', 'signup_date', 'region']
stg_sessions: ['session_id', 'user_id', 'session_date', 'utm_source', 'utm_medium', 'utm_campaign', 'is_first_session']
stg_subscriptions: ['subscription_id', 'user_id', 'plan_id', 'start_date', 'status']
stg_invoices: ['invoice_id', 'subscription_id', 'user_id', 'period_start', 'period_end', 'invoice_date', 'amount', 'paid', 'is_initial']
stg_events: ['user_id', 'event_date', 'event_name']
‚úì –¢–∞–±–ª–∏—Ü–∞ analytics.stg_users —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ (2000 —Å—Ç—Ä–æ–∫)
‚úì –¢–∞–±–ª–∏—Ü–∞ analytics.stg_sessions —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ (5914 —Å—Ç—Ä–æ–∫)
‚úì –¢–∞–±–ª–∏—Ü–∞ analytics.stg_subscriptions —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ (681 —Å—Ç—Ä–æ–∫)
‚úì –¢–∞–±–ª–∏—Ü–∞ analytics.stg_invoices —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ (2205 —Å—Ç—Ä–æ–∫)
‚úì –¢–∞–±–ª–∏—Ü–∞ analytics.stg_events —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ (16119 —Å—Ç—Ä–æ–∫)
‚úì –í—Å–µ staging-—Ç–∞–±–ª–∏—Ü—ã –æ–±—Ä–∞–±–æ—Ç–∞–Ω—ã –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã